body {
  text-align: center;
}
.hidden {
  display: none;
}

h2 {
  font-size: 3em;
  line-height: 0.8em;
}

#answer h1 {
  padding: 0;
  margin: 0;
  font-size: 21em;
  line-height: 0.8em;
}

#answer h4 {
  padding: 0;
  margin: 0;
  font-size: 3em;
}

#form {
  margin-top: 25px;
}

#form input {
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
}

#show_container {
  margin-top: 25px;
}
